.event-sector {
  height: fit-content;
  font-size: 24px;
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  z-index: 5;
}

.events-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-between;
}

.event-sector.event-sector--animated::before {
  content: '';
  position: absolute;
  top: -15px; /* Отступ сверху */
  left: -15px; /* Отступ слева */
  width: calc(100% + 25px); /* Ширина с учётом отступов */
  height: calc(100% + 25px); /* Высота с учётом отступов */
  background-color: rgba(19, 19, 25, 0.5); /* Цвет фона */
  z-index: -1;
  border-radius: 8px; /* Радиус скругления */
}


.events-section h2 {
  margin-bottom: 16px;
  width: 100%;
}

.event-sector a {
  opacity: 0.8;
  font-weight: 600;
  width: fit-content;
  color: rgb(4, 134, 255);
  text-decoration: none;
  font-size: 28px;
}

.event-sector span {
  font-weight: 500;
  margin-bottom: 4px;
  width: fit-content;
}

.event-image-container-ru {
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}

.event-image-container-en {
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}

.event-image-container-ru img {
  transition: transform 1s ease;
  width: 100%;
  min-height: 130px;
}

.event-image-container-en img {
  transition: transform 1s ease;
  width: 100%;
  min-height: 130px;
}

.event-image-container-ru img:hover {
  transform: scale(1.06); 
}

.event-sector:hover {
  opacity: 1;
  z-index: 6;
}

@keyframes bounceAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@media (max-width: 1995px) {

  .events-list-container {
    max-height: 930px; /* Максимальная высота контейнера */
    overflow-y: auto; /* Включает прокрутку по вертикали */
    padding: 20px; /* Добавляет внутренние отступы */
    border-radius: 10px; /* Скругление углов */
  }
  .event-sector--animated {
    animation: bounceAnimation 1s ease forwards;
    opacity: 0.8;
    margin-bottom: 40px; /* Отступ снизу */
  }
  
}

@media (max-width: 3995px) {

  .events-list-container {
    max-height: 930px; /* Максимальная высота контейнера */
    overflow-y: auto; /* Включает прокрутку по вертикали */
    padding: 20px; /* Добавляет внутренние отступы */
    border-radius: 10px; /* Скругление углов */
  }
  .event-sector--animated {
    animation: bounceAnimation 1s ease forwards;
    opacity: 0.8;
    margin-bottom: 40px; /* Отступ снизу */
  }
  
}

@media (max-width: 440px) {
  .event-sector {
    width: 100%;
    font-size: 18px; /* Уменьшите размер шрифта */
    margin-bottom: 20px; /* Увеличьте отступы */
  }
  .event-sector a {
    font-size: 20px; /* Уменьшите размер шрифта ссылок */
  }
  .event-sector span {
    font-size: 16px; /* Уменьшите размер шрифта текста */
  }
  .event-image-container-ru img, .event-image-container-en img {
    min-height: 100px; /* Уменьшите минимальную высоту изображений */
  }
  .event-description {
    font-size: 14px; /* Уменьшите размер шрифта описания */
  }
  .events-list-container {
    max-height: 100px; /* Максимальная высота контейнера */
    overflow-y: auto; /* Включает прокрутку по вертикали */
    padding: 10px; /* Добавляет внутренние отступы */
    border-radius: 10px; /* Скругление углов */
  }
}

@media (max-width: 768px) {
  .events-section {
    flex-direction: column; /* Измените направление flex на column */
  }
  .events-section h2 {
    text-align: center; /* Выравнивание заголовка по центру */
  }
  .events-list-container {
    max-height: 300px; /* Максимальная высота контейнера */
    overflow-y: auto; /* Включает прокрутку по вертикали */
    padding: 20px; /* Добавляет внутренние отступы */
    border-radius: 10px; /* Скругление углов */
  }
  .event-sector--animated {
    animation: bounceAnimation 1s ease forwards;
    opacity: 0.8;
    margin-bottom: 37px; /* Отступ снизу */
  }
  
  
}

@media (max-width: 320px) {
  .events-list-container {
    max-height: 200px; /* Уменьшите максимальную высоту контейнера */
  }
  .events-list-container {
    max-height: 100px; /* Максимальная высота контейнера */
    overflow-y: auto; /* Включает прокрутку по вертикали */
    padding: 10px; /* Добавляет внутренние отступы */
    border-radius: 10px; /* Скругление углов */
  }
}

.event-description {
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

